{% extends "base.html" %} {% block content %}
<div class="text-center mt-5 mb-5 mx-auto px-5 gap-4">
  <p class="text-4xl py-2">{{ binder.name }}</p>
  <p class="py-2">{{ binder.description }}</p>
  <a href="{% url 'search-cards' binder.id %}" class="btn btn-primary px-5">+ Add a Card</a>
  <a href="{% url 'binder-update' binder.id %}" class="btn btn-primary">Edit Binder</a>
  <a href="{% url 'binder-delete' binder.id %}" class="btn btn-primary">Delete Binder</a>
</div>


  <div class="flex flex-wrap justify-start items-center gap-5 max-w-screen-xl mx-auto px-4">
    {% for card in cards_with_details %}
    <span class="max-w-[220px]">
      <a href="{% url 'user-card-detail' card.user_card.pk %}">
        <img
          src="{{ card.user_card.img_url_small }}"
          alt="{{ card.user_card.name }}"
          class="rounded transform duration-300 hover:scale-105 hover:shadow-lg hover:shadow-blue-400 hover:brightness-110"
        />
      </a>
    </span>
    {% endfor %}
  </div>



<div class="text-center py-5">
  <p><strong>Date Created: </strong>{{ binder.created_at }}</p>
  <p><strong>Last Modified: </strong>{{ binder.last_modified }}</p>
</div>
{% endblock %}
