{% extends "base.html" %} {% block content %}
<h1>{{ binder.name }}</h1>
<p>{{ binder.description }}</p>
<a href="{% url 'search-cards' binder.id %}">Add a Card to This Binder</a>
<a href="{% url 'binder-update' binder.id %}">Edit Binder</a>
<a href="{% url 'binder-delete' binder.id %}">Delete Binder</a>
<div>
  {% for card in cards_with_details %} {{ card.user_card.name }} {% comment %}
  <a href="{% url 'user-card-detail' card.user_card.pk %}"
    ><img src="{{card.card.images.small }}"
  /></a>
  {% endcomment %}
  <a href="{% url 'user-card-detail' card.user_card.pk %}"
    ><img
      src="{{ card.user_card.img_url_small }}"
      alt="{{ card.user_card.name }}"
  /></a>
  {{card}} {% endfor %}
</div>
{% endblock %}
