{% extends "base.html" %} 
{% load static %}
{% block content %} 

<div class="relative min-h-screen bg-[url('/static/images/pokemons.png')] bg-cover bg-center flex items-center justify-center px-4">
 
  <div class="absolute inset-0 bg-black/40 z-0"></div>


  <div class="glass max-w-2xl w-full p-8 rounded-2xl shadow-xl flex flex-col md:flex-row items-center space-y-6 md:space-y-0 md:space-x-15">


    <img src="{% static 'images/pikachu.png' %}" alt="Pikachu" class="w-32 h-32 object-cover rounded-xl shadow-md" />


    <div class="flex justify-center flex-row text-center md:text-center">
      <hp class="flex justify-center flex-col darumadrop-one-regular text-3xl font-bold text-white mb-2">Welcome to PokéTracker!</h1>
      <p class="darumadrop-one-regular text-sm text-white/90 mb-4">Track all your cards in one place!</p>
      {% if not user.is_authenticated %}
      <a href="{% url 'signup' %}" class="btn btn-primary">Get Started</a>
    </div> 


{% endif %}

 {% endblock %}
