{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center mt-5 mb-5">
  <p class="text-4xl py-5">{{ request.user.username }}'s Binder Dashboard</p>
  <a href="{% url 'binder-create' %}" class="btn btn-primary mt-6 mb-6">+ Create Binder</a>
</div>


  {% if object_list %}
    <div class="flex flex-wrap gap-5 justify-center items-center px-6 py-6 m-auto">
      <div class="flex flex-start flex-row flex-wrap gap-4">
        {% for binder in object_list %}
        <a href="{% url 'binder-detail' binder.id %}" class="card shadow-lg hover:shadow-blue-500/50 hover:shadow-xl hover:brightness-110 transition duration-300 image-full w-64">
            <figure>
              <img src="{% static 'images/craiyon_pokestars.png' %}" alt="Background" class="object-cover w-full h-40" />
            </figure>
            <div class="card-body flex flex-col justify-between h-full px-4 relative">
              <span class="cardtitle flex flex-col justify-center items-center grow text-center">
                <p class="font-bold pt-20 text-xl">{{ binder.name }}</p>
                <p class="">{{binder.description}}</P>
              </span>
              <span class="text-center">
                <p class="m-auto">Created on:</p>
                <p>{{ binder.created_at }}</p>
                <p>Last updated:</p>
                <p class="mt-auto">{{ binder.last_modified }}</p>
              </span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <p class="text-center mt-4 text-gray-500">You don't have any binders yet.</p>
  {% endif %}
{% endblock %}
